In [7]:
import pandas as pd  # Importamos la librería

def salto_linea(elemento=""):
    print(elemento)

# Creamos un diccionario con los datos
data = {
    'Nombre': ['Ana', 'Luis', 'Pedro'],
    'Edad': [28, 22, 35],
    'City': ['Madrid', 'Barcelona', 'Sevilla']
}

# Creamos el DataFrame
df = pd.DataFrame(data)

# Mostramos el DataFrame
print(df)
print(df["Edad"])
print(df.loc[2].Nombre)

productos = {
    'product': ['libra de arroz', 'galletas', "pan bimbo", "Azucar blanca", "azucar morena"],
    'price': [5000, 6000, 2000, 3200, 4300],
    'stock': [56, 17, 80, 101, 3]
}

tabla_productos = pd.DataFrame(productos)
print(tabla_productos)
print(tabla_productos["product"])
print(tabla_productos.loc[0])
salto_linea("----------")
#print(tabla_productos.product)
print(tabla_productos[['product', 'price']])
salto_linea("----------")

tabla_productos['total_value'] = tabla_productos['price'] * tabla_productos['stock']
tabla_productos.sort_values(by = 'price', ascending=True)
print(tabla_productos)
salto_linea()

#filtrando
filtro1 = tabla_productos[tabla_productos['price']>4000]



salto_linea('FILTRO 1----------------')
print(filtro1)

filtro2 = tabla_productos[tabla_productos['stock']>50]
salto_linea('FILTRO 2----------------')
print(filtro2)

filtro3 = tabla_productos[tabla_productos['product'].str.contains('azucar', case=False)]
salto_linea('FILTRO 3----------------')
print(filtro3)

productos_bajo_stock = tabla_productos[tabla_productos['stock']<20]
salto_linea('BAJO STOCK----------------')
print(productos_bajo_stock)

tabla_productos.to_csv('productos.csv', index=False)
tabla_leida = pd.read_csv('productos.csv')
salto_linea('TABLA LEÍDA---------------')
print(tabla_leida)

  Nombre  Edad       City
0    Ana    28     Madrid
1   Luis    22  Barcelona
2  Pedro    35    Sevilla
0    28
1    22
2    35
Name: Edad, dtype: int64
Pedro
          product  price  stock
0  libra de arroz   5000     56
1        galletas   6000     17
2       pan bimbo   2000     80
3   Azucar blanca   3200    101
4   azucar morena   4300      3
0    libra de arroz
1          galletas
2         pan bimbo
3     Azucar blanca
4     azucar morena
Name: product, dtype: object
product    libra de arroz
price                5000
stock                  56
Name: 0, dtype: object
----------
          product  price
0  libra de arroz   5000
1        galletas   6000
2       pan bimbo   2000
3   Azucar blanca   3200
4   azucar morena   4300
----------
          product  price  stock  total_value
0  libra de arroz   5000     56       280000
1        galletas   6000     17       102000
2       pan bimbo   2000     80       160000
3   Azucar blanca   3200    101       323200
4   azucar morena   4300      3        12900

FILTRO 1----------------
          product  price  stock  total_value
0  libra de arroz   5000     56       280000
1        galletas   6000     17       102000
4   azucar morena   4300      3        12900
FILTRO 2----------------
          product  price  stock  total_value
0  libra de arroz   5000     56       280000
2       pan bimbo   2000     80       160000
3   Azucar blanca   3200    101       323200
FILTRO 3----------------
         product  price  stock  total_value
3  Azucar blanca   3200    101       323200
4  azucar morena   4300      3        12900
BAJO STOCK----------------
         product  price  stock  total_value
1       galletas   6000     17       102000
4  azucar morena   4300      3        12900
TABLA LEÍDA---------------
          product  price  stock  total_value
0  libra de arroz   5000     56       280000
1        galletas   6000     17       102000
2       pan bimbo   2000     80       160000
3   Azucar blanca   3200    101       323200
4   azucar morena   4300      3        12900